:css
  table {
    border-collapse: collapse;
    border: 1px solid black;
  }
   
  table td {
    border: 1px solid black;
  }

  .dice {
    font-weight: bold;
  }
%h1 Results
%table
  %tr
    %th Name
    %th Count
    %th Percent
    %th Mean Bank
    %th Standard Deviation Bank
    %th Mean Rounds
    %th Standard Deviation Rounds
  - @stats.each do |stats|
    %tr
      %td=stats.name
      %td=stats.count
      %td=stats.percent
      %td=stats.mean_bank
      %td=stats.standard_deviation_bank
      %td=stats.mean_rounds
      %td=stats.standard_deviation_rounds
%hr/
%table
  %tr
    %th ID
    %th Dice
    %th Button
    %th Returned
    %th Gained/Lost
    %th Spent
    %th Bank
    %th Don't Pass Line
    %th Odds
  - @results.each do |row|
    %tr
      %td=row.id
      %td.dice=row.dice
      %td=row.button
      %td=row.returned
      %td=row.gained_lost
      %td=row.spent
      %td=row.bank
      %td=row.dont_pass_line
      %td=row.odds
